.navbar{
    position: fixed;
    background-color: #111;
    width:100%;
    height: 40px;
    justify-content: center;

}

.logo{
    width: 50px;
    position: fixed;
    top: 5px;
    left: 10px;
}

.netflix{
    width: 80px;
}


.avatar{
    width: 30px;
    position: fixed;
    right: 10px;
    top: 5px;
}

.imgavatar{
    width: 30px;
}





